{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="center-align">Mes amis</h1>



        

    <div class="center-align">
        <a class="waves-effect waves-light btn" href="{{ path('friendship_new') }}">
            Ajouter un ami
        </a>
    </div>
    
    <br>

    <div class="row">
    {% for friend in friends %}
        <div class="col s6 m4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="#" alt="" class="circle responsive-img"> 
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            <h5><strong>{{ friend.friend.username }}</strong></h5>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        Vous n'avez pas encore d'ami, <a class="" href="{{ path('friendship_new') }}">ajoutez-en</a> !
    {% endfor %}
    </div>
    

    {% endblock %}
