{% extends '::base.html.twig' %}

{% block body -%}

    <div class="well">
        <h1>
            404 - Cette page n'existe pas...
        </h1>
        <a class="btn btn-default"href="{{ path('wizem_front_home_index') }}" title="Retour à l'accueil">
            Retour à l'accueil
        </a> 
    </div>

{% endblock %}
