<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wizem{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />      



        {% if app.environment == 'prod' %}
            <!-- prod:front.css -->
<link rel="stylesheet" href="assets/compiled/front.css/front_800d6a843d548fd120d85bfa9e828770.css" />
<!-- endbuild -->
        {% else %}
            <!-- dev:front.css -->
<link rel="stylesheet" href="/assets/front.css/front_0.css" />
<!-- endbuild -->
        {% endif %}

        {% block css %}{% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}">
        
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            wizem 
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %}
            <div class="container body-container">
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
        
        {% block footer %}
            <footer>

            </footer>
        {% endblock %}


        {% if app.environment == 'prod' %}
            <!-- prod:front.js -->
<script src="/assets/compiled/front.js/front_1e1b642c7b354dc347efb60afa681ce8.js"></script>
<!-- endbuild -->
        {% else %}
            <!-- dev:front.js -->
<script src="/assets/front.js/jquery.min_0.js"></script>
<script src="/assets/front.js/materialize.min_1.js"></script>
<script src="/assets/front.js/scripts_2.js"></script>
<!-- endbuild -->
        {% endif %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
