{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

	<div class="row">
		<div class="col s12 m10 offset-m1 l6 offset-l3">
		
			<p>{{ 'resetting.password_already_requested'|trans }}</p>

		    <a class="btn btn-default"href="{{ path('wizem_front_home_index') }}" title="Retour à l'accueil">
		        <i class="fa fa-arrow-left"></i> Retour à l'accueil
		    </a> 
		</div>
	</div>

{% endblock body %}
