{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event creation</h1>

		{{ form_start(form) }}
		    {{ form_widget(form) }}

		    <input type="submit" value="Valider" class="btn waves-effect waves-light" />
		{{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('wizem_event_event') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
